body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #0f172a;
  color: white;
}

.container {
  max-width: 400px;
  margin: 100px auto;
  padding: 30px;
  background: #1e293b;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

h1,
h2 {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

a {
  color: #38bdf8;
  text-decoration: none;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}
select {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: none;
  margin-top: 6px;
}
